
.rez {
    left: 37%;
    top: 34%;
}
iframe {
    position: relative;
}
.overlay {
    opacity: 0.5;
}
.overlay {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.overlay:hover {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}
#lentele tr.even{
    background-color: #B8161F;
}
#lentele tr.odd{
    background-color: #E31B23;
}
