* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
a, img {
    border:none;
    outline:none;
}
.main {
  margin-top: 25px;
}
.dskt {
  display: none;
}
body {
  background-color: #FcFcFc;
}

.clear {
  clear: both;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
}
h1{
  font-size: 24px;
  color: #E31B23;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: 15px;
  padding-left: 5px;
}
h2 {
  font-size: 22px;
  color: #E31B23;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: 15px;
}

.row {
  padding-top: 25px;
}
.contentWrapper{
  background-color: #FFFFFF;
  position: relative;
}

/*////////////////////////////
         Navigacija
///////////////////////////*/
/*#logo {
  position: absolute;
  background-image: url(img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 110px;
  height: 110px;
  left: 10px;
}*/
#logo {
  position: absolute;
width: auto;
height: 110px;
  
}
 .no-backgroundsize #logo {
     background-image: none;
     width: 80px;
     -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/logo.png', sizingMethod='scale')";
 }
/*
Meniu juosta su socialių
tinklų nuorodmis.
*/
#socialMenu {
  height: 40px;
  width: 100%;
  background-color: #E31B23;
}
#socialMenu ul {
    float: right;
    width: 159px;
    margin-top: 8px;
}
#socialMenu ul li {
    display: inline-block;
    margin-right: 10%;
}
#socialMenu ul li a i {
  font-size: 25px;
}
#socialMenu ul li a i:hover {
  color: #FFFFFF;
}

/*
Pagrindinė navigacijos juosta.
*/
nav {
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
}
nav ul li {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
nav ul li:hover {
  background-color: #E31B23;
}
nav ul li:hover > ul {
  display: inherit;
}
nav ul li a, nav ul li span {
  line-height: 1.5em;
  padding: 24px 14px;
  display: block;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Dropdown menu*/
nav ul ul {
  background-color: #0D0D0D;
  display: none;
  position: absolute;
  list-style: none;
  top: 70px;
  left: 0;
  z-index: 99999;
}
nav ul ul li {
  cursor: pointer;
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
  padding: 15px 11px;
  margin: 12px 0;
}
nav ul ul li a {
  text-transform: none;
  color: #FFFFFF !important;
  font-size: 14px !important;
  padding: 15px 11px;
  display: block;
}
nav ul li ul li {
  padding: 0px;
}

.menuWrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
#meniuMygt {
  float: right;
  font-size: 40px;
  position: relative;
  top: 14px;
  right: 21px;
  display: none;
  cursor: pointer;
}
#meniuMygt {
  z-index: 9999999999999999999;
}
#main-nav {
  display: block;
  float: right;
}
.mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  nav ul li {
    cursor: pointer;
    display: inline-block;
  }
  nav ul li a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 834px) {
  #navbar {
    display: none;
  }
  #meniuMygt {
    display: block;
  }
}
@media screen and (max-width: 678px) {
  .mobile {
    display: table;
  }
  .desktop {
    display: none;
  }
  .mobl {
    display: none;
  }
  .dskt {
    display: block;
  }
}
@media screen and (max-width: 834px) {
  .mobile1 #main-nav {
    display: block !important;
  }
  .mobile2 {
    display: block !important;
  }
  .mob-nav {
    height: auto ;
  }
  .mob-nav ul {
    height: auto ;
    display: none;
  }
  #main-nav {
    display: none;
    margin-top: 45px;
  }
  .mob-nav #navbar {
    display: block;
    padding-top: 70px;
  }
  .mob-nav ul {
    float: none !important;
  }
  .mob-nav ul li {
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .mob-nav ul ul{
    width: 100%;
    position: initial;
    display: none;
  }
  nav ul li:hover > ul {
    display: none;
  }
  .mob-nav ul ul li{
    width: 100%;
  }
  nav ul li, nav ul li ul li  {
    padding: 0;
  }
  .mob-nav ul a{
    display: block;
    padding: 24px 19px;
  }
  nav ul ul li{
    margin: 0px;
    padding: 0px;
  }
  .mob-nav nav ul ul li:hover {
      background-color: #B8161F;
  }
}

/*
Poraštė.
*/
footer {
  width: 100%;
  height: auto;
  background-color: #E31B23;
  padding-top: 56px;
}
.footer-menu {
  background-color: #0d0d0d;
  padding: 15px;
}
.footer-menu h1 {
  color: #FFFFFF;
}
.co-t {
  margin-bottom: 50px;
  width: 12.5%;
  float: left;
  height: auto;
}
.co-t h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
}
.co-t ul {
  list-style: none;
  margin-top: 10px;
}
.co-t ul li {
  color: #333333;
  margin-top: 4px;
}
.co-t .soc li {
  display: inline-block;
  margin-left: 5px;
}
.co-t ul li .fa {
  color: #FFFFFF;
  font-size: 28px;
}
hr {
  margin-top: 35px;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  background-color: #333333;
  border: none;
}
.footer-menu p{
  color: #333333;
}
footer {
  margin-top: 25px;
}
footer a {
  color: white;
}
@media screen and (max-width: 992px) {
    .co-t {
        margin-bottom: 50px;
        width: 19%;
        float: left;
        height: auto;
    }
    .clear-m {
        clear: both;
    }
    .co-t {
        margin-bottom: 50px;
        width: 20%;
        float: left;
        height: auto;
    }
}
@media screen and (max-width: 834px) {
    .clear-m {
        clear: none;
    }
    .clear-mm {
        clear: both;
    }
    .co-t {
        margin-bottom: 50px;
        width: 25%;
        float: left;
        height: auto;
    }
}
@media screen and (max-width: 480px) {
    .clear-mm {
        clear: none;
    }
    .clear-s {
        clear: both;
    }
    .co-t {
        margin-bottom: 50px;
        width: 50%;
        float: left;
        height: auto;
    }
}
/*////////////////////////////
        Pagrindinis
///////////////////////////*/
/*
Trys pagrindinės naujienos, kuriose yra atvaizduojamos naujausi įrašai.
functions.php -> 28
style.css     -> 389
index.php     -> 10
*/
/* Didžiausias komponentas */
.headerImageLarge {
  max-height: 587px;
  width: 46%;
  float: left;
  margin: 3px 0 0 0;
  position: relative;
  overflow: hidden;
}
.headerImageLarge img {
  height: 587px;
  display: block !important;
  margin-left: -35%;
}
/* 2 mažesni komponentai */
.headerImageSmall {
  position: relative;
  max-height: 292px;
  width: 53.75%;
  float: right;
  margin: 3px 0 0 0;
  overflow: hidden;
}
.headerImageSmall img {
  width: 100%;
  height: auto;
  max-height: initial;
  display: block !important;
}
/* Patamsinimo sluoksnis */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .2)
}
.overlay:hover {
  background-color: rgba(0, 0, 0, .1)
}
/* Antraščių tekstas */
.headerImageText {
  width: 80%;
  position: absolute;
  bottom: 0;
  padding: 15px;
}
.headerImageText h1{
  color: white;
  font-weight: 900;
  text-shadow: 2px 0px 3px black;
}
/* Media */
@media screen and (max-width: 887px) and (min-width: 835px){
  .headerImageSmall {
    height: 292px;
  }
  .headerImageSmall img {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 834px) {
  .headerImageLarge {
    max-height: 292px;
  }
  .headerImageLarge img {
    margin-left: 0%;
  }
  .headerImageLarge, .headerImageSmall {
    width: 100%;
  }
  .headerImageLarge img, .headerImageSmall img {
    width: 100%;
    height: auto !important;
  }
}

/*
Alygos ir II lygos turnyrinės lentelės
functions.php -> 28
style.css     -> 389
index.php     -> 19
*/
#lentele button{
  background-color: #0D0D0D;
  padding: 10px 40px;
  color: #FFFFFF;
  margin-right: 5px;
  border: none;
}
#lentele #aMygtukas{
  background-color: #E31B23;
}
#lentele table{
  border-collapse:collapse;
  border-top: 10px solid #0D0D0D;
  width: 100%;
  text-align: center;
  background-color: #E31B23;
}
#lentele td, #lentele th{
  padding: 4px 5px;
  color: #FFFFFF;
}
#lentele tr:nth-child(even) {
  background-color: #B8161F;
}

/*
Rungtynės. Sutrumpinta informcija apie tvarkaraštį. Paskutinės ir sekančios rungtynės.
functions.php -> 28
style.css     -> 389
index.php     -> 19
*/
#matchStats h3{
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #E31B23;
  padding: 10px 20px;
}
#matchStats section {
  padding: 0 5px 0 0;
  background-color: white;
}
#matchStats section+section {
  padding: 0 0 0 5px;
}
.matchWrap {
  border: 1px solid #E31B23;
}
.matchPanel {
  margin-top: 40px;
  position: relative;
  width: 100%;
}
.matchPanel img{
  max-width: 100%;
  max-height: 123px;
  margin: 0 auto;
  display: block;
}
.rez {
  background-color: black;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  padding: 8px 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}
.rez span{
  color: #FFFFFF;
}
.matchInfo{
  margin-top: 25px;
}
.matchInfo span {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.matchInfo span, .matchInfo p {
  text-align: center;
  margin: 0;
  
}
.matchLinks {
  bottom: 0;
  width: 100%;
  margin-top: 15px;
}
.matchLinks a{
  background-color: #E31B23;
  padding: 10px 10px;
  color: #FFFFFF;
  text-align: center;
  border: none;
  width: 33.333333%;
  box-sizing: border-box;
  float: left;
}
.matchLinks a:hover{
  background-color: #0D0D0D;
}
.matchLinks a + a{
  border-left: 1px solid white;
}
.matchPanel .col-4 {
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  height:0;
  width:37%;
  padding-bottom:33%;
}


@media screen and (max-width: 992px) {
  .matchPanel .col-4 {
    width: 30%;
    padding-bottom: 27%;
  }
}
@media screen and (max-width: 678px) {
  #matchStats section {
    padding: 0 0px 0 0;
  }
  #matchStats section+section {
    padding: 0 0 0 0px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 480px) {
  #matchStats a {
    width: 100%;
  }
  #matchStats a + a {
    border-left: none;
  }
}
/*
Šoniniame meniu yra patalpinta
navigacija į mažesnio svarbu puslapius.
*/
#sideMenu p {
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #E31B23;
  padding: 10px 20px;
}
#sideMenu ul {
  list-style: none;
  padding-bottom: 10px;
}
#sideMenu ul li {
    text-align: center;
    background-color: #0D0D0D;
}
#sideMenu ul li:hover {
  background-color: #E31B23;
}
#sideMenu ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
}
#sideMenu img {
  max-width: 156px;
  display: block;
  margin: 5px auto;
}

/*
Naujienų skyrius, kuriame galima rasti 5 paskutinius įrašus.
functions.php -> 2
style.css     -> 661
index.php     -> 103
*/
.naujienos h2{
  color: #FFFFFF;
  background-color: #E31B23;
  padding: 10px 20px;
  margin-bottom: 0;
}
.naujienos article {
  border-bottom: 5px solid  #E31B23;
  position: relative;
  background-color: #FFFFFF;
}
.naujienos article img {
  width: 40%;
  display: block;
  float: left;
}
.naujienos article .naujText {
  background-color: #FFFFFF;
  display: block;
  padding: 15px;
  float: left;
  width: 55%;
}
.naujienos article .naujText h3 {
  color: #E31B23;
  text-align: left;
  font-size: 16px;
}
.naujienos article .naujText span {
  font-size: 13px;
  text-align: left;
}
.naujienos article .naujText p {
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
}
.naujMygtukas {
  background-color: #E31B23;
  padding: 7px 30px;
  color: #FFFFFF;
  margin-right: 5px;
  border: none;
  position: absolute;
  right: 10px;
  bottom: 0;
}
.naujMygtukas:hover{
  background-color: #0D0D0D;
}
.naujWrapper {
  padding-bottom: 23px;
  background-color: #E31B23;
}
@media screen and (max-width: 1200px) {
  .naujienos article .naujText {
    background-color: #FFFFFF;
    display: block;
    padding: 5px;
    float: left;
    width: 56%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 678px) {
  .naujienos article img {
    width: 100%;
  }
  .naujienos article .naujText {
    width: 89%;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 834px) {
  .asideNaujienos .text {
    padding-left: 10px !important;
        padding-bottom: 50px !important;
  }
}

.asideNaujienos {
      min-height: 160px;
  overflow: auto;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}
.asideNaujienos .text {
  padding-left: 0;
}
.asideNaujienos .text h3{
  font-size: 16px;
  margin-bottom: 5px;
}
.asideNaujienos .text p{
  font-size: 13px;
}
.asideNaujienos a{
  background-color: black;
  color: white;
  padding: 4px 20px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.asideNaujienos img{
  display: block;
  max-width: 100%;
}

/*
A lygos rungtynių įrašai.
*/
.irasai h2{
  text-align: center;
  text-transform: uppercase;
font-size: 22px;
font-weight: 400;
color: #E31B23;
margin-bottom: 15px;
}
/* -- Slideris -- */
.slider {
  background-color: #0D0D0D;
  overflow: auto;
  position: relative;
}
.slider img {
  display: block;
  float: left;
  max-width: 100%;
}
.slider article .sliderContent{
    display: block;
    padding: 15px;
}
.slider button {
  width: 40.1%;
  background-color: #E31B23;
  padding: 24px 39px;
  color: #FFFFFF;

  border: none;
  position: absolute;
  right: 0px;
  bottom: 0;
}
.slider i {
  color: white;
  font-size: 57px;
  position: absolute;
}
@media screen and (min-width: 834px){
  .irasai.contentWrapper {
    height: 211px;
    overflow: hidden;
  }
}

@media screen and (max-width: 678px) {
  .irasai {
    padding-bottom: 60px;
  }
}

.irasaiKorteles {
  padding: 0;
}
.irasai a {
  background-color: #E31B23;
    padding: 12px 0px;
    display: block;
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    left: 0;
    text-align: center;
}
.irasai a:hover{
  border-bottom: 3px solid #0D0D0D;
}
.irasai .vresult {
  background-color: black;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
    padding: 5px 5px;
    margin: 0 auto;
    width: 100px;
    margin-top: 25px;
}

/*
Rėmėjų logotipai
*/
.remejai h2 {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
font-size: 22px;
font-weight: 400;
color: #E31B23;
margin-bottom: 15px;
}
.remejai img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.kitiRem {
  max-width: 674px;
  margin: 0 auto;
}
#genr {
  display: block;
  margin: 0 auto;
}



/*////////////////////////////
          Sakalai
///////////////////////////*/
/*Sakalai*/
.sakalai h2 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sakalai h3 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 20px;
  margin-bottom: 2px;
}
.sakalai ul {
  list-style: none;
}
.sakalai span {
  color: #E31B23;
  margin-right: 10px;
}
.sakalai .col-12 {
  background-color: white;
}
.sakalaiCon {
  background-color: white;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
@media screen and (max-width: 320px) {
    .sakalaiInfo a {
        display: block;
    }
}

/*////////////////////////////
      Naujienų skyriai
///////////////////////////*/
.naujienosKita {
  margin-top: 25px;
}
.naujienosKita h2{
  color: #FFFFFF;
  background-color: #E31B23;
  padding: 10px 20px;
  margin-bottom: 0;
}
.naujienosKita article {
  border-bottom: 5px solid  #E31B23;
  position: relative;
  background-color: #FFFFFF;
  
  overflow: hidden;
}
.naujienosKita article img {
  width: 30%;
  display: block;
  float: left;
  max-height: 250px;
}
.naujienosKita article .naujText {
  background-color: #FFFFFF;
  display: block;
  padding: 15px;
  float: left;
  width: 55%;
}
.naujienosKita article .naujText h3 {
  color: #E31B23;
  text-align: left;
  font-size: 16px;
}
.naujienosKita article .naujText span {
  font-size: 13px;
  text-align: left;
}
.naujienosKita article .naujText p {
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
}
.naujImageWrap {
  max-height: 410px;
  overflow: hidden;
         display: inline;
    }
@media screen and (max-width: 1200px) {
  .naujienosKita article .naujText {
    background-color: #FFFFFF;
    display: block;
    padding: 5px;
    float: left;
    width: 56%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .naujienosKita article img {
    width: 40%; 
}
}
@media screen and (max-width: 678px) {
  .naujienosKita article img {
    width: 100%;
    max-height: none;
  }
  .naujImageWrap {
  max-height: 410px;
  overflow: hidden;
      display: block;
    }
  .naujienosKita article .naujText {
    width: 89%;
    padding-bottom: 50px;
  }
}


/*////////////////////////////
          Nuorodos
///////////////////////////*/

/*Nuorodos*/
.nuorodos div{
  background-color: white;
}
.nuorodos h2 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 20px;
  margin-bottom: 10px;
}
.nuorodos a {
  width: initial;
background-color: #E31B23;
padding: 7px 35px;
float: right;
margin-top: 10px;
color: white;
}
.nuorodos a:hover {
  background-color: #0d0d0d;
  color: white;
}

/*////////////////////////////
          Kontaktai
///////////////////////////*/
.kontaktai h2 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 20px;
  margin-bottom: 10px;
}
.kontaktai textarea {
  width: 100%;
}
.kontaktai .forma {
  background-color: white;
}
.forma {
  background-color: white;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.forma input {
  width: 100%;
}
.forma input[type=submit] {
  width: initial;
  background-color: #E31B23;
  padding: 9px 25px;
  border: none;
  float: right;
}
.kontaktai-info {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.kontaktai-info ul {
  list-style: none;
}
.kontaktai-info ul li{
  margin-top: 2px;
}
.kontaktai-info span {
  color: #E31B23;
  margin-right: 10px;
}

/*////////////////////////////
          Žaidėjai
///////////////////////////*/
.zaidejai div {
  min-height: 260px;
}
.zaidejai table th, .zaidejai table td{
 color: black;
 font-size: 13px;
 text-align: left;
 padding: 2px 0px;
}
.zaidejai h3{
  margin-bottom: 5px;
}
.zaidejai h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 15px;
  background: none;
  padding: 10px 20px;
}
.naudingiausi {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.naudingiausi img {
  display: block;
  max-width: 100%;
}
.naudingiausi span {
  padding: 16px 0px;
  display: inline-block;
  font-size: 31px;
  font-weight: 900;
  background-color: #E31B23;
  color: white;
  position: relative;
  top: 35px;
  left: 46px;
  width: 68px;
  text-align: center;
}
.naudingiausi .tekstas {
  margin-top: 25px;
  text-align: center;
}
.zaidejaiWrap {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.zaidejaiWrap img{
  max-width: 100%;
}
.zaidejaiWrap th{
  color: #E31B23 !important;
}

/*////////////////////////////
Istorija/Pasiekimai/Bilietai
///////////////////////////*/
/*istorija*/
.istorija div{
  background-color: white;
}
.istorija h2{
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 20px;
  margin-bottom: 10px;
}
/*pasiekimai*/
.pasiekimai div{
  background-color: white;
}
.pasiekimai ul{
  list-style: none;
}
.pasiekimai h2{
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 20px;
  margin-bottom: 10px;
}
/*bilietai*/
.bilietai div{
  background-color: white;
}
.bilietai h2{
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 20px;
  margin-bottom: 10px;
}
.bilietai h3{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 20px;
  margin-bottom: 2px;
}
.bilietai .under {
  font-size: 14px;
}
.informacija ul {
  list-style: none;
}
.informacija ul li a{
  color: #E31B23;
}


/*////////////////////////////
    Videos/Nuotraukos
///////////////////////////*/
.video {
  background-color: white;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
padding: 11px;
}
.video iframe{
  max-width: 100%;
  width: 100%;
  height: 300px;
}
.video h2{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: #0d0d0d;
  margin-top: 10px;
  margin-bottom: 5px;
}
.video p{
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #E31B23;
}
.video .lyga{
  font-weight: 600;

}
a.filter_link {
    padding: 6px 15px;
    background-color: #E31B23;
    color: white;
}
a.filter_link:hover {
    background-color: #0d0d0d;
    color: white;
}
.videoAntr {
  height: 52px;
  max-height: 52px;
  overflow: hidden;
}
.video img {
  max-width: 100%;
  display: block;
}

/*////////////////////////////
          Admin
///////////////////////////*/
.keitimas {
  background-color: #0D0D0D;
  color: white;
  border: none;
  padding: 6px 39px;
  float: right;
}
.numb {
  background-color: black;
  text-align: center;
  font-size: 28px;
  color: #FFFFFF;
  padding: 5px 5px;
  margin: 0 auto;
  width: 100px;
  margin-top: 25px;
}
#adminNuorodos a {
  display: inline;
  padding: 7px 15px;
  color: white;
  border: 1px solid white;
}
#adminNuorodos a:hover {
  background-color: #0d0d0d;
}
textarea {
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  color: white;
  resize: none;
 
}
.content {
  width: 100%;
  height: 150px;
  background: none;
  border: none;
  color: white;
  resize: none;
 
}
.main table{
  border-collapse:collapse;
  border-top: 10px solid #0D0D0D;
  width: 100%;
  text-align: center;
  background-color: #E31B23;
}
.main td, .main th{
  padding: 4px 5px;
  color: #FFFFFF;
}
.main tr:nth-child(even) {
  background-color: #B8161F;
}
.main table .did{
  table-layout: fixed;
}
.main table tr td, th{
    padding: 4px 5px;
    color: #FFFFFF;
}
.main table tr:nth-child(even) {
    background-color: #B8161F;
    border: none;
}
.main table tr td input {
  background-color: #E31B23;
  border: none;
  color: white;
  max-width: 100%;
  width: 100%;
}
.main table tr:nth-child(even) input {
    background-color: #B8161F;
    border: none;
}

/*////////////////////////////
          Misc
///////////////////////////*/
.kitos {
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #E31B23;
  padding: 10px 20px;
}
.news {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.news span {
  position: relative;
  top: -10px;
}
.news p {
  margin-top: 10px;
}

.pages a{
  color: white;
}
#selected{
  color: black;
}
.bilietaiNuorodos img {
  max-width: 100% !important;
}
.rem {
  max-width: 100% !important;
}
.bilInfo {
  margin-top: 15px;
}
.bilInfo ul{
  list-style: none;
}
.rem {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}
.remejai .col-4, .remejai .col-2 {
  position: relative;
}
.test {
  padding-bottom: 40px;
}
.imageTest {
  max-width: 100%;
}
.statTurinys img {
  max-width: 100%;
  display: block;
}

.baltas {
  background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
 .ni h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: #E31B23;
  margin-top: 10px;
  margin-bottom: 5px;
}

.b {
  width: 100%;
}
.mobile tr td:first-child  {
  width: 150px;
}

.pages p {
  width: 10%;
}

.pages p {
  text-align: center;
}

/* Tvarkingos galerijos i6laikymas */
.video a {
      overflow: hidden;
    max-height: 240px;
    display: block;
}
.naujienosKita article {
  max-height: 250px;
}
.naujienosKita article img {
    max-height: none; 
}
@media screen and (max-width: 678px) {
  .video a {
    overflow: hidden;
    max-height: 500px;
    display: block;
}
.naujienosKita article {
  max-height: 615px;
}
}











@media screen and (min-width: 1500px) {
    body {
      max-width: 1200px;
  margin: 0 auto;
  height: auto;
    }
}
@media screen and (max-width: 480px) {
    .mobileT {
      display: none;
    }
}
@media screen and (max-width: 320px) {
    .pages p {
      width: 35%;
    }
}
[class*="col-"] {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media screen and (min-width: 1200px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media screen and (max-width: 992px) {
  .col-m-0 { width: 0%; padding: 0px !important; }
  .col-m-1 { width: 8.33%; }
  .col-m-2 { width: 16.66%; }
  .col-m-3 { width: 25%; }
  .col-m-4 { width: 33.33%; }
  .col-m-5 { width: 41.66%; }
  .col-m-6 { width: 50%; }
  .col-m-7 { width: 58.33%; }
  .col-m-8 { width: 66.66%; }
  .col-m-9 { width: 75%;   }
  .col-m-10 { width: 83.33%; }
  .col-m-11 { width: 91.66%; }
  .col-m-12 { width: 100%; }
}
@media screen and (max-width: 678px) {
  .col-md-1 { width: 8.33%; }
  .col-md-2 { width: 16.66%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33%; }
  .col-md-5 { width: 41.66%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33%; }
  .col-md-8 { width: 66.66%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33%; }
  .col-md-11 { width: 91.66%; }
  .col-md-12 { width: 100%; }
}
@media screen and (max-width: 480px) {
  .col-s-1 { width: 8.33%; }
  .col-s-2 { width: 16.66%; }
  .col-s-3 { width: 25%; }
  .col-s-4 { width: 33.33%; }
  .col-s-5 { width: 41.66%; }
  .col-s-6 { width: 50%; }
  .col-s-7 { width: 58.33%; }
  .col-s-8 { width: 66.66%; }
  .col-s-9 { width: 75%; }
  .col-s-10 { width: 83.33%; }
  .col-s-11 { width: 91.66%; }
  .col-s-12 { width: 100%;
    }
}

.row:before {
  margin-bottom: 20px;
  content: '';
    display: block;
    clear: both;
}

.zaidejai img {
    display: block;
}
.baltas {
    padding: 25px 15px 40px 15px;
}

.columnFix:nth-child(3n+1), .newRow1 {
  clear: left;
}
.newRow1 {
  clear: left;
}
@media screen and (min-width: 1200px) {
  .columnFix:nth-child(3n+1), .newRow1  {
    clear: left;
  }
  .newRow1  {
    clear: left;
  }
}
@media screen and (max-width: 992px) {
  .columnFix:nth-child(3n+1), .newRow1  {
    clear: none;
  }
  .newRow1  {
    clear: none;
  }
  .columnFix:nth-child(2n+1), .newRow2 {
    clear: left;
  }
  .newRow2 {
    clear: left;
  }
}

.error {
  color: #E31B23;
margin-bottom: 15px;
}
.pages {
  text-align: center;
  padding: 25px;
}

.paginate li {
  display: inline-block;
  margin: 0 5px;
}